.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    text-align: center;
    font-size: 30px;
}
.value{
    font-size: 80px;
    font-weight: 700;
}
.btn{
    font-size: 5opx;
    border: 3px solid black;
    border-radius: 15px;
    font-weight: bold;
    padding: 20px;
    margin: 8px;
}